.abia_color{
  fill: #EBFDB5
}

.abuja_color{
  fill: #DFBBFE
}

.adamawa_color{
  fill: #6B8E23
}

.akwa_ibom_color{
  fill: #FEB8BB
}

.anambra_color{
  fill: #B2F0FE
}

.bauchi_color{
  fill: #FFC8F9
}

.bayelsa_color{
  fill: #FDEAD1
}

.benue_color{
  fill: #BA55D3
}
.borno_color{
  /* fill: #df2ec7; */
  fill: #d5dbff;
}

.cross_river_color{
  fill: #8B4513
}

.delta_color{
  fill: #FCB3FF
}

.ebonyi_color{
  fill: #FDB2D2
}

.edo_color{
  fill: #CD5C5C
}

.ekiti_color{
  fill: #ECFED5
}

.enugu_color{
  fill: #00CED1
}

.gombe_color{
  fill: #D6EFFD
}

.imo_color{
  fill: #FDE9B9
}

.jigawa_color{
  fill: #ECD3FD
}

.kaduna_color{
  fill: #FECDC0
}

.kano_color{
  fill: #B5DEFE
}

.katsina_color{
  fill: #be8a60
}

.kebbi_color{
  fill: #B7CDFE
}

.kogi_color{
  fill: #708090
}

.kwara_color{
  fill: #C7C4FE
}

.lagos_color{
  fill: #f2a442
}

.nassarawa_color{
  fill: #ffdd64
}

.niger_color{
  fill: #7FFF00
}

.ogun_color{
  fill: #FEDAB8
}

.ondo_color{
  fill: #e69f11
}

.osun_color{
  fill: #9af661
}

.oyo_color{
  fill: #48D1CC
}

.plateau_color{
  fill: #a8d59e
}

.rivers_color{
  fill: #EFC6FF
}

.sokoto_color{
  fill: #ffdd76
}

.taraba_color{
  fill: #d1374d
}

.yobe_color{
  fill: #0000CD
}

.zamfara_color{
  fill: #FFB2DF
}
