*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    overflow: hidden;
    /* background-color: brown; */
    position: relative;
}


#content{
    display: grid;
    grid-template-columns: 80% 20%;
}


#left-section{
    display: grid;
    grid-template-columns: 10% 90%;
    min-height: calc(100vh-10vh);
	background: rgb(3, 177, 3)
}


#map-menu{
    background-color:  rgb(3, 53, 3);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-top: none;
    border-bottom: none;
    border-left: none;
}



.menu-item{
    color: white;
    /* border: 1px solid blue; */
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
}




.label{
    /* background-color: red; */
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
}



#count{
    /* background-color: blue; */
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}


#emoji-reaction{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cheer-me{
   font-family: fantasy;
   font-size: small;
   text-align: center;
    margin-top: 20px;
    color: yellow;
}




.reset{
    display: flex;
    justify-content: center;
    align-items: center;
}



.reset button{
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(52, 85, 3);
    color: white;
}



@keyframes waveAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
  }
  




/* adding confetti */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow; /* You can set the color as needed */
    transform-origin: 50% 50%;
    animation: confetti-fall linear 2s;
  }
  
  @keyframes confetti-fall {
    to {
      transform: translateY(100vh) rotate(720deg);
      opacity: 0;
    }
  }





#map{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
	background: rgb(3, 177, 3);
	/* background: rebeccapurple; */
    background-position: center;
    background-repeat: no-repeat;
    animation: waveAnimation 2s ease-in-out infinite;
}







.reset button:hover{
    background-color: rgb(134, 252, 104);
}



#right-section{
    /* To implement an overflow the div has to be give a height  */
    height: 90vh;
    overflow-y: scroll;

    /* display flex prevent the scroll bar from working */
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
}




.dragable-div{
    background-color: rgb(173, 205, 206);
    margin: 4px;
    padding: 0px;
}


#footer{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 10vh;
    /* background-color: black; */
    background-color: #d9dada;
    color: rgb(99, 99, 99);
}

@media all and (max-width: 768px) {
    /* #container{    
        display: flex;
        flex-direction: row;
   }
    #map{    
      width: 100%;
   }

    #right-section{    
      width: 100%;   
    overflow-x: scroll;
   } */
}

#state-modal{
    width: 45vw;
    height: 20vh;
    z-index: 10;
    display: none;
    position: absolute;
    top: 5%;
    left: 20%;

}

#state-info{
    height: max-content;
    overflow: hidden;
    background-color: white;
}

#state-name-div{
    background-color: black;
    padding: 4px;
    color: white;
}


#closeBox{
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    background-color: grey;

}


#closeButton{
    padding: 2px 4px;
    cursor: pointer;
}



#closeButton:hover{
    background-color: red;
    color: white;
    border: none;
}

/* #show-time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
} */

#timer-div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeSelect{
    padding: 8px 0px;
    font-size: 1.1rem;
    margin-bottom: 8px;
    background-color:  red;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
}


select{
    display: flex;
    justify-content: center;
    align-items: center;
}