*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.splash-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #006801;
    z-index: 200;


    display: flex;
    justify-content: center; 
    align-items: center; 
}

.splash-screen.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -10;
    transition: all 0.8s;


    display: flex;
    justify-content: center; 
    align-items: center; 
}

.splash-screen img{
 display: inline-block;
 border-radius: 4px;
}


@keyframes fade-in{
  to{
      opacity: 1;
  }  
}

.fade-in{
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}



.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/background_image.png');
    background-position: center;
    /* background-color: green; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
    
}


.main-menu-container{
    background-color: #d9dada;
    width: 75vw;
    height: 80vh;
    border-radius: 4px;
}


.welcome-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #072E10;
}


.level-wrapper{
    margin-top: 16px;
}


.level-wrapper h2{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 4px;
}


.level-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu-btn{
    padding: 8px 24px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    background-color: #14D8B5;
    /* font-family: Lily Script One; */
}


.menu-btn:hover{
   background-color: #daf8f3;
}

.level-type-wrapper{
    margin-top: 24px;
}

.level-type-wrapper h2{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4px;
}


.level-type-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.welcome-text-div > img{
    animation: geoquestAnimation 11s ease-in;
}


@keyframes geoquestAnimation {
    0%{
        transform: rotate(100deg)
    }
    25%{
        transform: rotate(50deg)
    }
    50%{
        transform: rotate(25deg)
    }
    100%{
        transform: rotate(0deg)
    }
}


