*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/background_image.png');
    background-position: center;
    /* background-color: green; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;
    
}


.main-menu-container{
    background-color: #d9dada;
    width: 75vw;
    height: 80vh;
    border-radius: 4px;
}


.welcome-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #072E10;
}


.level-wrapper{
    margin-top: 16px;
}


.level-wrapper h2{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 4px;
}


.level-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu-btn{
    padding: 8px 24px;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    background-color: #14D8B5;
    /* font-family: Lily Script One; */
}


.menu-btn:hover{
   background-color: #6df8df;
}

.level-type-wrapper{
    margin-top: 24px;
}

.level-type-wrapper h2{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 4px;
}


.level-type-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}